/* Add CSS Styling */

.odd-numbered {
    background-color: rgb(245, 147, 173);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#number-two {
    color: rgb(26, 86, 200);
    font-size: 36px;
}

.number-three {
    font-size: 24px;
}

#number-four {
    background-color: rgb(103, 241, 140);
    font-size: 24px;
    font-weight: bold;
}