body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  font-size: 16px;
  padding: 6px 20px;
  margin: 0 auto;
}

h1, div {
  padding: 10px;
  margin: 6px;
}

